* {
  box-sizing: border-box;
}

html {
  font-size: 2.5vmin;
}

div.ReactTags__tags {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

div.ReactTags__tagInput {
  width: 8rem;
  border-radius: 0.4rem;
  display: inline-block;
  font-size: 1rem;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
  border: 0.1rem solid black;
  border-radius: 0.4rem;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 0.1rem solid black;
  background-color: white;
  font-size: 1rem;
  display: inline-block;
  padding: 0.75rem 1rem;
  margin: 0.3rem;
  border-radius: 0.4rem;
}
div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 0.5rem;
  cursor: pointer;
}

.ReactModal__Body--open {
  overflow: hidden;
}
